*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --clr-primary-5: #1d3557;
  --clr-primary-4: #457b9d;
  --clr-primary-3: #a8dadc;
  --clr-primary-2: #f1faee;
  --clr-primary-1: #e63946;

  --spacing: 0.1rem;
}

body {
  background-color: var(--clr-primary-5);
  color: var(--clr-primary-2);
  line-height: 1.5;
  font-size: 0.875rem;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin: 2rem 0;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 992px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
.capitalized-btn {
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}

/* ----------------- navbar ----------------- */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
  gap: 2rem;
}

.logo {
  font-size: 3rem;
  line-height: 1;
  font-weight: 600;
  text-decoration: none;
  color: var(--clr-primary-2);
}

.logo:hover {
  color: var(--clr-primary-2);
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.user-img {
  border-radius: 50%;
  border: var(--clr-primary-4) 2px solid;
  height: 3rem;
}
/* ----------------- footer ----------------- */

.main-container {
  position: relative;
  min-height: 100vh;
  border: 1px transparent solid;
}

.home,
.error,
.about,
.city-page,
.login {
  padding-bottom: 10rem;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  background-color: var(--clr-primary-4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.footer span {
  color: var(--clr-primary-1);
}

.footer h5 {
  margin: 0.1rem;
  font-weight: 400;
  text-transform: none;
  line-height: 1.25;
}

@media screen and (min-width: 776px) {
  .footer {
    flex-direction: row;
  }
}
/* ----------------- search form ----------------- */
.search-form {
  color: var(--clr-primary-5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.input {
  flex: 1;
}

/* -----------------single weather card----------------- */
.weather-group {
  width: 100%;
  gap: 1rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.weather-card {
  min-width: 200px;
}
.weather-info {
  color: var(--clr-primary-5);
}

@media screen and (min-width: 768px) {
  .weather-card {
    max-width: calc((100% - 1rem) / 2);
    min-width: calc((100% - 1rem) / 2);
  }
}
@media screen and (min-width: 1024px) {
  .weather-card {
    max-width: calc((100% - 3rem) / 4);
    min-width: calc((100% - 3rem) / 4);
  }
}
/* ----------------- about ----------------- */

.about h2 {
  margin: 2rem 0;
}

/* -----------------loading----------------- */
.loader {
  height: 40vh;
  width: 40vw;
  margin: auto auto;
}
.loading {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.loading::after {
  content: "";
  width: 100px;
  height: 100px;
  background: transparent;
  border: 10px solid var(--clr-primary-3);
  border-top-color: var(--clr-primary-4);
  border-radius: 50%;
  animation: loading 1.2s ease infinite;
}
@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}
/* -----------------routing: city page ----------------- */
.city-page {
  color: var(--clr-primary-5);
  max-height: 70vh;
}

/* -----------------routing: login page----------------- */
.login {
  text-align: center;
}
.login img {
  display: block;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  padding: 3rem;
}

/* preloading */
.wrapper {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.wrapper img {
  width: 150px;
}
